@import "clearStyle.scss";


.wrapper {
   display: grid;
   min-height: 100%;
   grid-template-rows: 35px 1fr;
}

.header {   
}

.section-header {
   padding: 5px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #333;
   height: 35px;
   display: grid;
   align-items: center;
		&__menu {
         
		}

		&__list {
         display: grid;
         justify-content: start;
         grid-auto-flow: column;
         font-weight: 700;
         & li {
            padding: 0 4px;
            border-right: 2px solid #eee;
            &:first-child {
               padding-left: 0;
            }
            &:last-child {
               border-right: none;
            }
            & a {
               color: #eee;
            }
         }
         
		}
}

.main {  
   display: grid;
   grid-template-columns: 300px 1fr;
   grid-template-rows: 35px 1fr;
}

.section-menu {
   position: fixed;
   top: 35px;
   left: 0;
   width: 300px;
   padding: 5px;
   background-color: #bbb;
   overflow: auto;
   height: calc(100vh - 35px);
   &__list {

   }
   
   &__list_inner {
      margin-left: 10px;
	}

	&__point {
      display: grid;
      grid-template-columns: 20px 1fr;
      grid-auto-flow: 20px 1fr;
      padding: 1px 0;
      &:last-child {
         padding-bottom: 0;
      }
	}

	&__icon {
      background-color: #eee;
      width: 100%;
      height: 20px;
      display: grid;
      justify-items: center;
      align-items: center;
      & img {
         max-width: 100%;
         max-height: 100%; 
         object-fit: cover; 
      }
	}

	&__text {
      padding-left: 5px;
      align-self: center;
	}
}

.section-bread {
   position: fixed;
   top: 35px;
   left: 300px;
   height: 35px;
   width: 100%;
   background-color: #555;
   padding: 10px;
   color: #bbb;
   display: grid;
   align-items: center;
   &__menu {

	}

	&__list {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
	}

	&__point {
      position: relative;
      padding-right: 30px;
      &::after {
         content: ">";
         position: absolute;
         top: 0;
         right: 10px;
      }
      &:last-child::after {
         content: "";
      }
      & a {
         text-decoration: underline;
         color: #eee;
      }
	}
}

.section-content {
   grid-column: 2/3;
   grid-row: 2/3;
   background-color: #eee;
   overflow: auto;
   height: calc(100vh - 35px - 35px);
      &__cards {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         padding: 20px;
         gap: 30px;
		}

		&__card {
         display: flex;
         flex-direction: column;
         align-items: center;
		}

		&__image {
         width: 250px;
         height: 250px;      
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
		}

		&__subtitle {
         text-align: center;
		}

}
